<!DOCTYPE html>
<html>
	<head>
		<title>Express!</title>
	</head>
	<body>
		<h1>Express?</h1>
		<h3>Hello, <%= name %> </h3>
		<ul>
			<% for(let i=0; i<nums.length; i++) { %>
				<li><%= nums[i] %></li>
			<% } %>
		</ul>
	</body>
</html>